<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Shadow Silks</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1><strong><em>Welcome to Shadow Silks</em></strong></h1>
        <p><strong><em>We are pioneer in silk handicraft and handlooms. We are selling silk apperals from last 200 years.We made finest silk that touches heavanly.</em></strong></p>
        <a  id=a1 href="admin/" class="btn btn-lg btn-primary active" role="button" >Admin</a>
        <a href="product" class="btn btn-lg btn-primary active" role="button">Product Range</a>
                <a href="feedback" class="btn btn-lg btn-primary active">Thanks Giving</a>

      </div>
    </div>
  </body>
</html>
